@model PropertyManager.ViewModels.Application.Landlords.Commands.CreateLandlordRequest;
@{
    ViewData["Title"] = "Create Landlord";
}
<h1>Create Landlord</h1>
<form method="post" asp-controller="landlord" asp-action="create">

</form>