@using PropertyManager.Domain.Enums
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<span class="text-danger">
    @ViewData["Message"]
</span>

<table class="mt-3 table-striped table-bordered" id="landlordsTable">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Home Phone</th>
            <th>Register Number</th>
            <th>Approv. Status</th>
        </tr>
    </thead>
</table>

@section Scripts {
<script>
    $(document).ready(function () {
        $('#landlordsTable').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": true,
            "ajax": {
                "url": "/Landlord/LoadIndexData",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":[{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                { "data": "landlordId", "name": "LandlordId", "autoWidth": true },
                { "data": "firstName", "name": "FirstName", "autoWidth": true },
                { "data": "lastName", "name": "LastName", "autoWidth": true },
                { "data": "email", "name": "Email", "autoWidth": true },
                { "data": "mobilePhone", "name": "MobilePhone", "autoWidth": true },
                { "data": "homePhone", "name": "HomePhone", "autoWidth": true },
                { "data": "registerNumber", "name": "RegisterNumber", "autoWidth": true },
                //{ "data": "approvalStatus", "name": "ApprovalStatus", "autoWidth": true },
                {
                    "render": function (data, type, full, meta)
                    {
                        if (full.approvalStatus === 'SUBMITTED') {
                            return '<span class="badge badge-info badge-pill">Submitted</span>'
                        } else if (full.approvalStatus === 'APPROVED') {
                            return '<span class="badge badge-success badge-pill">Approved</span>'
                        } else {
                            return '<span class="badge badge-danger badge-pill">Rejected</span>'
                        }
                    }
                }
            ]
        });
    });
</script>
}
